@charset "UTF-8";
/* 토글 버튼의 css */
.toggleBG {
	display:inline-block;
	background: #CCCCCC;
	width: 70px;
	height: 30px;
	border: 1px solid #CCCCCC;
	border-radius: 15px;
}

.toggleFG {
	background: #FFFFFF;
	float:left;
	width: 28px;
	height: 28px;
	border: none;
	border-radius: 15px;
	position: relative;
	left: 0px;
	top: 1px;
}